<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/header1.html' %}
        <title>Bhavin Lodhiya</title>
        
</head>

<body>
    {% include 'partials/navbar1.html' %}
    
    <header class="adminheader" id="adminhome">
        <h1 class="admintitle">
            <span class="adminwelcom">
                Welcome Admin
            </span>
            <br>
            <span class="admintypewrite">
                Photographer
            </span>
        </h1>
        <h2 class="adminsubtitle">
            Bhavin Lodhiya
        </h2>
        <div class="adminsocial adminsocial-media">
            <a href="https://www.facebook.com/bhavin.lodhiya.1" class="adminsocial-link">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#twitter" class="adminsocial-link">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/bhavin_soni_3180/" class="adminsocial-link">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/bhavin-l-a565a3136/" class="adminsocial-link">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </header>
    
    {% include 'partials/footer.html' %}
    
</body>

</html>