<link rel="stylesheet" href="{{ url_for('static', filename='public/css/style.css')}}">
<div class="navbar">
    <div class="containernav">
        <div class="logo">
            <a href="/adminindex"><strong>BS</strong> Photography</a>
        </div>
        <ul class="nav2-list">
            <li class="nav2-item dropdown"><a href="#">Home <span class="arrow">&#9662;</span></a>
                <ul class="dropdown-menu-nav2">
                    <li><a href="/adminindex" class="active">Home</a></li>
                    <li><a href="/" class="active">Client side Home</a></li>
                </ul>
            </li>
            <li><a href="/admingallery" class="active">Gallery</a></li>
            <li><a href="/adminimageupload" class="active">Image Upload</a></li>
            <li><a href="/adminviewdata" class="active">View Data</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="/logout" class="active" id="logout">Logout</a></li>
            {% else %}
            <li><a href="/login" class="active" id="login">Login/SignUp</a></li>
            {% endif %}
        </ul>
    </div>
</div>